<header class="page-header">
	<div class="container">
        <div class="page-header__row">
            <div class="page-header__logo">
                <div class="page-header__logo-title">
                    Cozy House
                </div>
                <div class="page-header__logo-text">
                    Shelter for pets in Boston
                </div>
            </div>
            <div class="page-header__nav">
                <ul id="header_nav">
                    <li class="page-header__nav-item">
                        <a href="javascript:;" data-toggle="nav-scroll" data-target="#about-us">
                            About the shelter
                        </a>
                    </li>
                    <li class="page-header__nav-item">
                        <a href="javascript:;" data-toggle="nav-scroll" data-target="#our-pets">
                            Our pets
                        </a>
                    </li>
                    <li class="page-header__nav-item">
                        <a href="javascript:;" data-toggle="nav-scroll" data-target="#help-block">
                            To help the shelter
                        </a>
                    </li>
                    <li class="page-header__nav-item">
                        <a href="javascript:;" data-toggle="nav-scroll" data-target="#contacts-block">
                            Contacts
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>





