<div class="page-footer" id="contacts-block">
    <div class="container">
        <div class="page-footer__row">
            <div class="page-footer__column">
                <div class="h2 page-footer__column-title">
                    For questions <br>
                    and suggestions     
                </div>
                <div class="page-footer__column-info page-footer__column-info--email">
                    <div class="page-footer__column-info-icon">
                        <img src="img/mail-icon.png" alt="">
                    </div> 
                    <div class="page-footer__column-info-text">
                        <a href="mailto:email@shelter.com">email@shelter.com</a>
                    </div>
                </div>
                <div class="page-footer__column-info">
                    <div class="page-footer__column-info-icon">
                        <img src="img/tel-icon.png" alt="">
                    </div> 
                    <div class="page-footer__column-info-text">
                        <a href="tel:+136745677554">+13 674 567 75 54</a>
                    </div>
                </div>
            </div>
            <div class="page-footer__column">
                <div class="h2 page-footer__column-title">
                    We are waiting <br>
                    for your visit
                </div>
                <div class="page-footer__column-info">
                    <div class="page-footer__column-info-icon">
                        <img src="img/marker-icon.png" alt="">
                    </div>
                    <div class="page-footer__column-info-text">
                        Boston, Central Street, 1st <br>
                        (Entrance from the store)
                    </div>
                </div>
                <div class="page-footer__column-info">
                    <div class="page-footer__column-info-icon">
                        <img src="img/marker-icon.png" alt="">
                    </div>
                    <div class="page-footer__column-info-text">
                        London, South Park, 18st
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>