
.btn {
  @include reset-button();
  
  background-color: #f1cdb3;
  border-radius: 26px;
  
  text-align: center;
  color: #292929;

  font-family: $font-family-georgia;
  font-size: 17px;
  font-weight: 400;

  line-height: 18px;

  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 44px;
  padding-right: 44px;
  
  transition: all 0.2s ease-in-out;
  
  &:hover {
    background-color: lighten($brand-color, 5%);
    box-shadow: none;

  }
  
  &:active {
    transform: translateY(3px);
    box-shadow: none;
    background-color: darken($brand-color, 10%);
  }
  
  &:active,
  &:focus,
  &:hover {
    color: #fff;
    text-decoration: none !important;
    outline: none !important;
  }
}

.btn-bordered {
  background-color: transparent;
  border: 2px solid $brand-color;
  padding-top: 15px;
  padding-bottom: 15px;
  &:hover {
    background-color: #f1cdb3;
    color: #292929;
  }
}