//
// Headings
//

h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
	line-height: 1.3;
  font-family: $font-family-georgia;
  font-weight: 400;
	margin-bottom: 40px;
  color: #545454;
}



h1,
.h1 {
	font-weight: 400;
	line-height: 1.3;
	font-family: $font-family-georgia;
	margin-bottom: 35px;
  font-size: 45px;
  color: #545454;
}


h2, .h2 {
  font-size: 35px;
}
h3, .h3 {
  font-size: 26px;
}
h4, .h4 {
  font-size: 24px;
}
h5, .h5 {
  font-size: 20px;
}
h6, .h6 {
  font-size: 16px;
}

.base-article {
  
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    
    &:not(:first-child) {
      margin-top: 40px;
    }
  }
}